
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-10 col-lg-offset-1">
    <h3 class="text-info">Jest to wstępny projekt strony typu demotywatory/kwejk , bez obróbki graficznej</h3>
    <h3>Strona zawiera</h3>
    <ul>
        <li>Panel administracyjny z mozliwoscią edycji uzytkowników </li>
        <li>Nadawanie ról użytkownikom</li>
        <li>Dodawanie zdjec na strone główną</li>
        <li>Usuwanie zdjęć</li>
        <li>Komentowanie zdjęć</li>
        <li>Usuwanie komentarzy</li>
        <li>Stronicowanie </li>
        <li>Blokady dostępu na stronie względem przypisanych ról</li>
    </ul>

    <h4 class="label-info">Konto administratora :<br /> Username : Admin <br />Haslo : 12345678</h4>
    
</div>
